// Fonts
$fnt-logo: 'Josefin Sans', sans-serif;
$fnt-dejavu: dejavu_sansbook;
$fnt-aleo: 'Aleo', serif;
$fnt-icons: 'icomoon';

//Colors
$color_white: #fff;
$color-dark: #333;
$color-darkest: #232323;
$color_gray: #999999;
$color_bg: #595959;
$color-not-white: #e8e8e8;
$color-marine: #00a2ff;
$color-blue: #5474fd;
$color-pink: #ff6363;
$color-dots: #7b7b7b;
$color-author: #fefefe;

// path
$path-img: '../img/';