.roadmap{
  display: flex;
  justify-content: center;
  height: 340px;
  width: calc(100vw - 16px) ;
  background-color: $color-dark;

  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  &__item{
    display: inline-block;
    text-align: center;
    z-index: 2;
  }

  &__action{
    font-size: 36px;
    line-height: 26px;
    color: $color-not-white;
    font-family: $fnt-aleo;
    font-weight: 400;
    margin-top: 30px;
  }
}

.symbol-color{
  &--blue{
    //z-index: 10;
    color: $color-blue;
  }

  &--pink{
    color: $color-pink;
  }

  &--marine{
    color: $color-marine;
  }
}

.shapes{
  display: inline-block;
  position: absolute;
}

svg{
  top: 45px;
  position: relative;
}

.empty__rings{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.ring{

  &--center{
    @include empty-ring($color-dark);
    left: 346px;
    top: 100px;
  }

  &--left{
    @include empty-ring($color-dark);
    left: -18px;
    top: 100px;
  }

  &--right{
    @include empty-ring($color-dark);
    left: 710px;
    top: 100px;
  }
}