//body{
//    border: 15px solid $color_white;
//}

.grid{
  width: 1110px;
  margin: 0 auto;
}

.layout-symbol{
  font-size: 60px;
}
//
//[class^="col-1-"] {
//  padding: 0 15px;
//  float: left;
//}
//
//.col-1-2{
//  width: 50%;
//}
//
//.row{
//  margin: 0 -15px;
//}
//
//.row:after{
//  content: '';
//  display: block;
//  clear: both;
//}
